@import "variables";
@import "fonts";
.u-dialog {
    .mat-dialog-container {
        padding: 0 !important;
    }
}

.dialog-header {
    @extend .Font_Body;
    font-size:25px;
    //color:darken($u-red,30%);
    width: 100%;
    border-bottom: 3px solid $u-red;
    padding:10px 30px 10px 30px;
    text-align: center;
}
.dialog-body{
    padding:30px;
}
.join-form {
    min-width: 250px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .mat-error{
      margin-bottom:200px;
  }
  .submit-btn{
      @extend .Font_Body;
      text-transform: uppercase;
      font-size:20px;
      display: block;
      position: relative;
      margin-top:25px;
      margin-left:auto;
      margin-right:auto;
      background: $u-red;
      border-radius:35px;
      padding:5px 30px 5px 30px;
      color:white;
  }
  .hint{
      color:green;
  }