<mat-drawer-container style="height:1000px">
  <mat-drawer mode="push" class="side-nav mat-elevation-z24" [opened]="showSide" hasBackdrop=true>
    <div class="logo">
      <img src="assets/img/LDSMBA_Logo_V.png">
    </div>
    <ul class="nav-menu">
      <li>About</li>
      <li>Events</li>
      <li>Join</li>
    </ul>

  </mat-drawer>
  <mat-drawer-content class="main">
    <div class="nav-header mat-elevation-z5 Font_Body">
      <img src="assets/img/LDSMBA_Logo.png">

      <div class="nav-toggle" (click)="showSide = true"><button mat-icon-button>
          <fa-icon icon="ellipsis-v"></fa-icon>
        </button></div>
    </div>
    <div class="banner">
      <div class="mask"></div>
    </div>
    <div class="section-title">
      <span>About</span>
      <div class="line"></div>
    </div>
    <div class="section-title">
      <span>Events</span>
      <div class="line"></div>
    </div>
    <div class="section-title">
        <span>Contact</span>
      <div class="line"></div>
    </div>
    <app-contact></app-contact>
    <button mat-raised-button (click)="openDialog()" class="join-now mat-elevation-z5">JOIN NOW</button>
  </mat-drawer-content>
</mat-drawer-container>